project_id         = "TU_PROYECTO_ID"
region             = "us-central1"
env                = "dev"
subnet_cidr         = "10.0.0.0/24"
pods_cidr           = "10.1.0.0/21"
services_cidr       = "10.2.0.0/24"
terraform_admin_sa = "terraform-admin@TU_PROYECTO_ID.iam.gserviceaccount.com"
